<!DOCTYPE html>
<html>
  <head>
    <title>BDown</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>BDown: Quickly remove Background</h1>
    <div id="dropZone" class="drop-zone">
     
      <form
        id="uploadForm"
        action="/"
        method="post"
        enctype="multipart/form-data"
      >
        <input id="fileInput" type="file" name="file" />
        <input type="submit" value="rm" />
      </form>
    </div>

   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
